HELP.md

#build
*/target/
target/
out/

# trace
*.trc

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

.idea
*.iws
*.iml
*.ipr

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

.vscode/

.mvn
mvnw
mvnw.cmd
